body{
    
}
.one{
    margin-left: 0;
    margin-right: 0;
    
    position: relative;
    background-color: grey;
    
    
}
.row0{
    /* width: 1692px; */
    
}
.navbar{
    padding-left: 20px;
    
}
.navbar-brand{
    font-weight: bolder;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.collapse{
    padding-left: 1350px;
}
#fight{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
}

.bck{
    z-index: 2;
    color: black;
    background-color: transparent;
    position:absolute;
    margin-top: 50px;
    margin-left: 70px;
    font-size: 25px;
    font-family: fantasy;
}

.white{
    background-color: lightgray;
}

.bw{
    position: relative;
}

.black{
    background-color: black;
}

.title{
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 20px;
    margin-bottom: 0;
    font-family: sans-serif;
    font-weight: bold;
    
}

.heading{
    
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: fantasy;
    font-size: 30px;
    
}
.text{
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-family: fantasy;
    font-size: 20px;
}

.button1{
    margin-left: 70px;
    margin-bottom: 300px;
    background-color: black;
    color: white;
    
}
#butt:hover{
   
    background-color: white;
    color: black;
    font-weight: 600;
}

.iphone{
    width: 300px;
    height: 580px;
    margin-top: 200px;
    margin-bottom: 300px;
    position: relative;
    z-index: 2;
    transition: transform .2s;
}

.iphone:hover{
    transform: scale(1.5);
}



@media screen and (min-width: 600px) { 
    .letter{
        color: white;
        font-size: 300px;
        font-family: fantasy;
        z-index: 2;
        position: absolute;
        background-color: transparent;
        left: 45.5%;
        top: 28%;
        z-index: 0;
    }
}
@media screen and (max-width: 600px) {
    .letter{
        color: white;
        font-size: 300px;
        font-family: fantasy;
        z-index: 2;
        position: absolute;
        background-color: transparent;
        left: 35%;
        top: 45%;
        z-index: 0;
    } 
} 

.wave1{
   position: absolute;
   bottom: 0;
   left: 0;
   
}

.bw1{
    background-color: white;
}

.bw2{
    background-color: black;
}


.two{
   position: relative;
}

.cards{
  padding-top: 150px;;
  padding-left: 100px;
  padding-right: 100px;
  
}

.card{
    margin: 0px;
    margin-right: 15px;
    margin-bottom: 15px;
    background-color: black;
    color: white;
    font-size: 50px;
    font-family: fantasy;
    /* border-width: 2px;
    border-color: black; */
}

.card-four:hover{
    background-color: white;
    color: black;
}

.button2{
    margin-left: 0;
}

.foursquare{
    margin-bottom: 100px;
}

.three{
    background-color: black;
    color: white;
    padding: 0;
    background-image: url("images/blackpaper.webp");
    background-size: cover;
    z-index: 0;
}

.container_0{
    background-color: white;
    color: black;
    padding: 20px;
    width: 400px;
    height: 600px;
    border-radius: 0px;
    box-shadow: 0px 0px 20px 15px;
    font-size: 20px;
    margin-left: 15%;
    margin-right: 15%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    transition: transform .2s;

}
.container_1 .container_2 .container_3{
    padding: 50px;
    color: black;
}

@media screen and (max-width: 600px) {
   .container_0{
    margin: 10%;
    
   }
}


.container_1:hover{
    transform: scale(0.7);
    z-index: 2;
}
.container_2:hover{
    transform: scale(0.7);
    z-index: 2;
}
.container_3:hover{
    transform: scale(0.7);
    z-index: 2;
}
    


 
.button3{
  margin-bottom: 0;
  margin-left: 0;
  
}

.row1{
    margin: 0;
}
.col1{
    padding-left: 250px;
}
.col2{
    padding: 150px;
}

.wave2{
    position: absolute;
    bottom: 0;
    left: 0;
    
}
.wave3{
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    
    
}

.four{
  padding-bottom: 100px;
  
}

.company{
    margin-top: 50px;
    font-size: 40px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 50%;
    height: 200px;
    text-align: center;
    
}

.comp{
    margin: 30px;
    
}

.col-auto{
    margin: 20px;

}

.five{
    background-color:rgb(67, 66, 66);
    color: white;
    padding: 0;
    z-index: 0;
}

.person{
    border-radius: 100%;
    width: 450px;
    height: 450px;
    border-style:dashed;
    border-width: 10px;
}

.person2{
    border-radius: 100%;
    width: 350px;
    height: 350px;
    border-style:dashed;
    border-width: 10px;
}

.c{
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    
}

hr{
    border-style:dotted;
    border-top: 0;
    border-width: 7px;
    width: 35%;
}

.six{
    padding: 0;
    
}

.contact{
    padding: 50px;
    width: 100%;
    background-color:black;
    margin: 0;
    border-radius: 0%;
}

.card-link{
    
    font-size: 20px;
    color:gray;
}

.profile2{
    padding: 150px;
    padding-bottom: 0;
}